body {
    font-family: Helvetica, Verdana, Arial, "san serif";
    background-color: #923d96;
    padding: 30px;
    font-size: 120%;
}

#content {
    padding: 50px;
    background-color: rgb(242, 187, 244, 0.9);
    min-height: 80vh;
    box-shadow: 0px 0px 45px rebeccapurple;
}

#headshot {
    float: right;
    margin: 10px;
}

img {
  width: 300px;
  height: auto;
  }

h1 {
  font-weight:  bolder;
  font-size: 200%;
  margin: auto;
  color: #67216A;
  align-items: center;
}

p {
  font-family: sans-serif;
  color: #923d96;
}

a {
  color: #923d96;
  line-height: 25px;
}
a:hover{
  color: #67216A;
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: auto;

}

h2{
  font-family: serif;
  font-weight: bolder;
  color: #934b96;
}
