#content {
  padding: 40px;
  margin: 30px;
  font-family: sans-serif;
  line-height: 31px;
}

#script {
  padding: 30px;
  border: double 3px black;
  margin: 50px;
}

audio {
  display: block;
  background-color: rebeccapurple;
}
