/* navigation bar thanks to w3schools :D */
nav {
  margin-top: 0px;
}
ul {
  list-style-type: none;
  margin: -5px;
  padding: 10px;
  overflow: hidden;
}

li {
  float: right;
  margin-right: 10px;
}

li a {
  display: block;
  color: #ed7b9b;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #a83f5d;
}
/* end of nav bar */

body {
  background: #fceaea;
  color: #ed7b9b;
  font-size: 110%;
}

#content {
  padding: 20px;
  margin: 20px;
  font-family: sans-serif;
  line-height: 31px;
}

.column {
  float: left;
  width: 45%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

a {
  color: #a83f5d;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
