body {
  color: #934b96;
  background-color: #f4bef5;
}
/* navigation bar thanks to w3schools :D */
nav {
  margin-top: 0px;
}
ul {
  list-style-type: none;
  margin: -5px;
  padding: 10px;
  overflow: hidden;
  font-size: large;
}

li {
  float: right;
  margin-right: 10px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #923d96;
}
/* end of nav bar */


p {
  font-family: sans-serif;
  font-size: 100%;
  color: #923d96;
}

#content {
  background-color: #f4bef5;
  padding: 30px;
  margin: 20px;
  margin-left: 620px;
  margin-top:50px;
  box-shadow: 0px 0px 45px rebeccapurple;
}

h1 {
font-weight:  bolder;
font-size: 250%;
margin: auto;
color: #802b83;
}

h2{
  font-family: serif;
  font-weight: bolder;
  color: #934b96;
}


img {
  width: 700px;
  margin: auto;
}

#images{
    text-align:center;
    line-height: -40px;
    margin: auto;
  }
