body {
  color: darkgreen;
  background-color: #fcebc2;
}

p {
  font-family: san-sans-serif;
  color: green;
}

#content {
    background-color: #fef6e1;
    padding: 20px;
    margin: 20px;
    border: solid 2px black;
    border-style: dotted;
}
