body {
  color: darkgreen;
  background-color: #fcebc2;
}
/* navigation bar thanks to w3schools :D */
nav {
  margin-top: 0px;
}
ul {
  list-style-type: none;
  margin: -5px;
  padding: 10px;
  overflow: hidden;
}

li {
  float: right;
  margin-right: 10px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #D7C088;
}
/* end of nav bar */

p {
  font-family: san-sans-serif;
  font-size: 150%;
  color: green;
}

#content {
    background-color: #fef6e1;
    padding: 20px;
    margin: 20px;
    border: solid 2px black;
    border-style: dotted;
}
