body {
  color: darkgreen;
  background-color: #fcebc2;
}

p {
  font-family: san-sans-serif;
  color: green;
}

#content {
    background-color: #fef6e1;
    padding: 10px;
    margin: 10px;
    border: solid 1px dotted black;
}
